{% if contact not in [None,''] and record not in [None,''] %}
<gmd:CI_ResponsibleParty>
  {{ cs.get_freetext('individualName', record.get('metadata',{}).get('language_alternate','en'), get_charstring(contact.get('individualname',''), record.get('metadata',{}).get('language',''), record.get('metadata',{}).get('language_alternate',''))) }}
  {{ cs.get_freetext('organisationName', record.get('metadata',{}).get('language_alternate','en'), get_charstring(contact.get('organization',''), record.get('metadata',{}).get('language',''), record.get('metadata',{}).get('language_alternate',''))) }}
  {{ cs.get_freetext('positionName', record.get('metadata',{}).get('language_alternate','en'), get_charstring(contact.get('positionname',''), record.get('metadata',{}).get('language',''), record.get('metadata',{}).get('language_alternate',''))) }}
  <gmd:contactInfo>
    <gmd:CI_Contact>
      {% if contact['phone'] %}
      <gmd:phone>
        <gmd:CI_Telephone>
          {% if contact['phone'] %}
          <gmd:voice>
            <gco:CharacterString>{{ contact['phone']|e }}</gco:CharacterString>
          </gmd:voice>
          {% else %}
          <gmd:voice gco:nilReason="missing"/>
          {% endif %}
          {% if contact['fax'] %}
          <gmd:facsimile>
            <gco:CharacterString>{{ contact['fax']|e }}</gco:CharacterString>
          </gmd:facsimile>
          {% else %}
          <gmd:facsimile gco:nilReason="missing"/>
          {% endif %}
        </gmd:CI_Telephone>
      </gmd:phone>
      {% endif %}
      <gmd:address>
        <gmd:CI_Address>
          {{ cs.get_freetext('deliveryPoint', record.get('metadata',{})['language_alternate'], get_charstring(contact.get('address'), record.get('metadata',{})['language'], record.get('metadata',{})['language_alternate'])) }}
          {{ cs.get_freetext('city', record.get('metadata',{})['language_alternate'], get_charstring(contact.get('city'), record.get('metadata',{})['language'], record.get('metadata',{})['language_alternate'])) }}
          {{ cs.get_freetext('administrativeArea', record.get('metadata',{})['language_alternate'], get_charstring(contact.get('administrativearea'), record.get('metadata',{})['language'], record.get('metadata',{})['language_alternate'])) }}
          <gmd:postalCode>
            <gco:CharacterString>{{ contact['postalcode']|e }}</gco:CharacterString>
          </gmd:postalCode>
          {{ cs.get_freetext('country', record.get('metadata',{})['language_alternate'], get_charstring(contact.get('country'), record.get('metadata',{})['language'], record.get('metadata',{})['language_alternate'])) }}
          {{ cs.get_freetext('electronicMailAddress', record.get('metadata',{})['language_alternate'], get_charstring(contact.get('email'), record.get('metadata',{})['language'], record.get('metadata',{})['language_alternate'])) }}
        </gmd:CI_Address>
      </gmd:address>
      <gmd:onlineResource>
        <gmd:CI_OnlineResource>
          <gmd:linkage>
            <gmd:URL>{{ contact['url']|e }}</gmd:URL>
          </gmd:linkage>
        </gmd:CI_OnlineResource>
      </gmd:onlineResource>
      {{ cs.get_freetext('hoursOfService', record.get('metadata',{})['language_alternate'], get_charstring(contact.get('hoursofservice'), record.get('metadata',{})['language'], record.get('metadata',{})['language_alternate'])) }}
      {{ cs.get_freetext('contactInstructions', record.get('metadata',{})['language_alternate'], get_charstring(contact.get('contactinstructions'), record.get('metadata',{})['language'], record.get('metadata',{})['language_alternate'])) }}
    </gmd:CI_Contact>
  </gmd:contactInfo>
  <gmd:role>
    <gmd:CI_RoleCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeSpace="ISOTC211/19115" codeListValue="{{ role.split('_') | first }}">{{ role }}</gmd:CI_RoleCode>
  </gmd:role>
</gmd:CI_ResponsibleParty>
{% endif %}
