mcf:
    version: 1.0

metadata:
    identifier:  {{ md.get('id','') }} 
    language: {{ md.get('language','eng') }} 
    charset: utf8
    hierarchylevel: dataset

identification:
    language: {{ md.get('language','eng') }} 
    title: {{ md.get('title','') }}
    abstract: {{ md.get('abstract','') }}
    


