mcf:
  version: 1.0

metadata:
    identifier: "{{ md['A'] }}"
identification:
    title: "{{ md['2B'] }}"
    abstract: "{{ md['C-c'] }}"
    keywords:
        default:
            keywords: [{{ md['D d'] }}]