mcf:
  version: 1.0
metadata:
    identifier: "{{ md['a'] }}"
identification:
    title: "{{ md['b'] }}"
    abstract: "{{ md['c'] }}"
    keywords:
        default:
            keywords: [{{ md['d'] }}]